In [61]:
import pandas as pd
import os

In [62]:
pwd = os.getcwd()
print(pwd)

/Users/caseydelaney/Documents/Casey Coding

In [63]:
filepath = pwd + "/simple_csv.csv"
filepath

'/Users/caseydelaney/Documents/Casey Coding/simple_csv.csv'

In [64]:
first_import = pd.read_csv(filepath, nrows=5)
first_import

    Column1   Column2   Column3
0  0.280925  0.910368  0.692982
1  0.719882  0.210024  0.761276
2  0.235752  0.059796  0.154667
3  0.603366  0.485614  0.013345
4  0.039985  0.236359  0.811832

In [65]:
first_import['Column1']

0    0.280925
1    0.719882
2    0.235752
3    0.603366
4    0.039985
Name: Column1, dtype: float64

In [66]:
first_import["new column 2"] = 3
first_import["added output"] = first_import["new column 2"] + first_import["Column1"]
first_import

    Column1   Column2   Column3  new column 2  added output
0  0.280925  0.910368  0.692982             3      3.280925
1  0.719882  0.210024  0.761276             3      3.719882
2  0.235752  0.059796  0.154667             3      3.235752
3  0.603366  0.485614  0.013345             3      3.603366
4  0.039985  0.236359  0.811832             3      3.039985